{% extends 'base.html' %}

{% block body %}

<h1 style="color: white; text-align: center; margin-top: 20px;">About FeelMusic !!!!</h1>

<ul style="margin-top: 50px; color: white; font-size: 20px;">
    <li style="margin-bottom: 30px;">FeelMusic is a music streaming platform that brings you the best tunes from around the world.</li>
    <li style="margin-bottom: 30px;">With a vast library of songs, you'll never run out of music to discover.</li>
    <li style="margin-bottom: 30px;">Our platform is designed to provide a seamless listening experience.</li>
    <li style="margin-bottom: 30px;">FeelMusic is available on desktop, mobile, and tablet devices.</li>
    <li style="margin-bottom: 30px;">Discover new music with our personalized recommendations.</li>
    <li style="margin-bottom: 30px;">Create and manage your own playlists with ease.</li>
    <li style="margin-bottom: 30px;">Follow your favorite artists and stay up-to-date with their latest releases.</li>
    <li style="margin-bottom: 30px;">FeelMusic is free to use, with optional premium features for upgraded users.</li>
    <li style="margin-bottom: 30px;">Our community is built on a shared love of music, so join the conversation and connect with others.</li>
    <li style="margin-bottom: 30px;">At FeelMusic, we're passionate about music and dedicated to providing the best possible experience to users.</li>
  </ul>


{% endblock body %}